#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photograph-header .location, .photograph-header .tagline {
    text-align: left;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.photographer-portrait {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

#like-and-price-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    bottom: 0;
    right: 20px;
    width: 190px;
    height: 35px;

    background-color: #DB8876;
    border-radius: 5px 5px 0 0;
}

#like-and-price-box .price {
    color: black;
    font-size: 18px;
}

