@import url("contactForm.css");
@import url("photographer.css");


:root {
    --font-default: "DM Sans", sans-serif;
    --color-primary: #901C1C;
    --color-secondary: #D3573C;
    --color-tertiary: #525252;
}

body {
    font-family: var(--font-default);
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: var(--color-primary);
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.photographer_section article a {
    text-decoration: none;
    justify-content: center;
}

.photographer-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photographer_section article h2 {
    color: var(--color-secondary);
    text-align: center;
    font-family: var(--font-default);
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.location {
    color: var(--color-primary);
    text-align: center;
    font-family: var(--font-default);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tagline {
    color: #000;
    text-align: center;
    font-family: var(--font-default);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.price {
    color: #757575;
    text-align: center;
    font-family: var(--font-default);
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.photographer_section article p {
    margin-top: 0;
}

@media (max-width: 1080px) {
    .photographer_section {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }
    header .logo {
        height: 40px;
        margin: 0;
    }
    header h1 {
        margin: 0;
    }

    .photographer_section {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}